<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	 bootstrap="laravel/tests/phpunit.php"
	 backupGlobals="false"
	 colors="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true"
	 stopOnError="false"
	 stopOnFailure="false"
	 stopOnIncomplete="false"
	 stopOnSkipped="false">
	<testsuites>
		<testsuite name="Orchestra Platform Test Suite">
			<directory suffix=".test.php">laravel/tests/cases/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">laravel</directory>

			<exclude>
				<directory suffix=".php">/laravel/cli/test/</directory>
				<directory suffix=".php">/laravel/tests</directory>
				<directory suffix=".php">/laravel/vendor/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>