<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	 bootstrap="laravel/tests/phpunit.php"
	 backupGlobals="false"
	 colors="true">
	<testsuites>
		<testsuite name="application">
			<directory suffix=".test.php">application/tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">application</directory>
		</whitelist>
	</filter>
</phpunit>